@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

/* create varaibles */

:root {
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}


/* global classes */

.font-roboto {
    font-family: var(--roboto);
}

.font-gugi {
    font-family: var(--gugi);
}

.font-sofia {
    font-family: var(--sofia);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* NAVBAR STYLING */

.nav-item {
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 1em;
}

.navbar-nav {
    margin-left: 100px;
}


/* landing div */

.container-fluid,
.container {
    padding: 0;
    margin: 0;
}

.landing-img {
    display: flex;
    align-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
    height: 90vh;
    margin: 0
}


/*  OUR STORY */

section.our-story {
    margin-top: 30px;
    height: 80vh;
    width: 100%;
}

h1.header {
    font-family: var(--gugi);
    font-size: 4em;
    color: #333;
    text-align: center;
    padding: 10px;
    background-color: #eee;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

img.our-story-img {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    margin-left: 4%;
}

div.our-story-text {
    margin-top: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 1em;
    line-height: 2;
}


/* SERVICES - HAIR AND BEARD */

section.services {
    margin-top: 30px;
}

.haircut h3,
.beard h3 {
    font-family: var(--sofia);
    font-size: 2em;
    background-color: rgb(52, 50, 50);
    color: gainsboro;
    padding: 50px;
    text-align: center;
    border-bottom: 10px solid rgb(181, 181, 181);
    border-top: 10px solid rgb(181, 181, 181);
}

.hair-services,
.beard-services {
    background-color: rgb(52, 50, 50);
    color: gainsboro;
    padding: 2%;
    border-bottom: 3px solid rgb(181, 181, 181);
}

.hair-services h4,
.hair-services p,
.beard-services h4,
.beard-services p {
    margin-left: 5%;
}

.hair-services-price h4,
.beard-services-price h4 {
    text-align: right;
    margin-right: 5%;
}


/* OUR TEAM */

section.our-team {
    margin-top: 30px;
}


/* .our-team-text {} */

.our-team-img img {
    width: 100%;
}


/* GALLERY */

section.gallery {
    margin-top: 30px;
}

.container-fluid img {
    display: flex;
    align-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}


/* INFO */

section.additional-info {
    margin-top: 30px;
}

.additional-info h5 {
    font-family: var(--roboto);
    font-size: 1.4em;
    color: #333;
    margin-left: 20px
}

.additional-info p,
.additional-info address {
    color: #333;
    font-family: var(--roboto);
    margin-left: 20px
}


/* start: footer styles */

footer {
    background-color: lightgray;
    padding: 8rem 0;
    padding: 5px;
}

footer .flex {
    padding-bottom: 1rem;
    border-bottom: 1px solid #666;
    margin-left: 20px;
}

footer h5 {
    color: #333;
    margin-bottom: 1rem;
    font-weight: 300;
}

h5.follow-us {
    text-align: center;
}

#subscribe-container {
    position: relative;
}

ul {
    text-align: center;
}

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-subscribe ul li {
    display: inline-block;
    margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
    text-align: center;
}

footer .footer-subscribe ul li a {
    text-decoration: none;
    color: #777;
}

footer .footer-subscribe ul li a:hover {
    color: #333;
}

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}

footer small a {
    color: #333;
    text-decoration: none;
}

footer small a:hover {
    color: #fff;
}